.home{
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    .screen{
        min-height: 100vh;
    }
    .half-screen{
        min-height: 50vh;
    }

    .rotate{
        writing-mode: vertical-rl;
        font-size: 1rem;
        letter-spacing: 1.2px;
        word-spacing: 5px;
    }
    .partial-border{
        &:after{
            content: "";
            display: block;
            //margin: 0 auto;
            height: 74%;
            padding-left: 1rem;
            margin-top: -17%;
            border-left: 3px solid $primaryColor;
        }
    }
    .absolute-img{
        position: absolute;
        height: 65vh;
        left: 16%;
        top: 46%;
    }
    .absolute-red{
        position: absolute;
        background: $primaryColor;
        height: 81vh;
        width: 20vw;
        left: 33%;
        top: 26%;
    }
    .sponsors{
        img{
            width: 100%;
        }
    }

    #home-dots{
        transform: scale(.85);
    }
    .map{
        width:100%;
        &-box{
            max-height: 50vh;
        }
    }
    @media (max-width: $xl){
        .map{
            &-box{
                max-height: unset;
            }
        }
    }
    @media (max-width : $lg){
        .partial-border{
            &:after{
                content: "";
                display: block;
                //margin: 0 auto;
                width: 90%;
                margin-top: 1rem;
                margin-left: -24%;
                border-top: 3px solid $primaryColor;
                border-left: 0;
                padding-left: 0;
                height: 0;
            }
        }
        .rotate{
            writing-mode: horizontal-tb;
        }
        #home-dots{
            transform: scale(1.3);
            transform: translateX(-50%);
        }
        .sponsors{
            img{
                width: auto;
                height: 75%;
            }
        }
    }
    @media (max-width: $md){
        .map{
            height: 100%;
        }
    }
}
.home-cards{
    &:hover{
        cursor: pointer;
        margin-bottom: 20px;
    }
}
@media (max-width: $sm){

}
