.project-outlook-frame{
  .project-outlook{
    background: $white;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 10px;
    &:hover{
      cursor: pointer;
    }
    .project-cover-image{
      border-bottom: 8px solid $secondaryColor;
      img{
        border-radius: 10px 10px 0 0;
      }
      border-radius: 10px 10px 0 0;
    }
    .project-content{
      border-radius: 0 0 10px 10px;
      border-top: 8px solid $primaryColor;
      .title {
        font: {
          family: SF-SemiBold;
          size: 1.10rem;
        }
        color: $secondaryColor;
        text-transform: uppercase;
      }
      .description{
        font: {
          family: SF-Regular;
          size: 0.88rem;
        }
        .show-more{
          color : $primaryColor;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }

  }
}
.project-details-frame{
  position: fixed;
  z-index: 2500;
  width: 100vw;
  top : 0;
  left: 0;
  height: 100vh;
  overflow-y: scroll;
  background : rgba(0,0,0,0.85);
  .project-content{
    font-family: SF-SemiBold, serif;
    border-radius: 10px;
    background: $secondaryColor;
    margin-bottom: 10vh;
    .content{
      min-height: 100% !important;
      background: white;
      border-radius: 0 10px 10px 0;
      .close-button{
        width: 30px;
        height: 30px;
        &:not(:hover){
          fill : $secondaryColor;
          transition: 0.2s;
        }
        &:hover{
          fill : $primaryColor;
          cursor: pointer;
          transition: 0.2s;
        }

      }
      .title{
        text-transform: uppercase;
        font-family: SF-SemiBold, serif;
        span{
          color: $primaryColor;
        }
      }
      .description{
        font-family: SF-Regular, serif;
        color: $secondaryColor;
        font-size: 1.1em;
      }
      .post-data{
        font-family: SF-SemiBold,serif;
        text-transform: uppercase;
        font-size: 1em;
      }
      .price{
        span{
          font-family: SF-SemiBold,serif;
        }

        font-family: SF-Regular, serif;
      }
    }
    .gallery{
      background: $secondaryColor;
      -webkit-border-radius: 10px 0 0 10px;
      -moz-border-radius: 10px 0 0 10px;
      border-radius: 10px 0 0 10px;
      .cover-image{
        border: 4px solid $primaryColor;
      }
      .title{
        font-family: SF-SemiBold,serif;
        color: $backgroundColor;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: $sm){
  .project-content{
    .title{
      font: {
        size: 1rem !important;
      }
    }
  }
}
