
.sub-page{
    .intro{
        hr{
            border-top: 3px solid $primaryColor;
            fill : $primaryColor;
        }
        .background{
            height : 100%;
            right: 0;
            z-index : -1;
        }
        .main-title{
            font-size : 9.68rem;
            color: $primaryColor;
            line-height: 80%;
        }
        .sub-title{
            font-size : 5.43rem;
            color: $secondaryColor;
        }
        .description{
            font-size : 1.23rem;
            color : $backgroundColor;
            .title{
                letter-spacing: 2.5px;
                font-size : 1.36rem;
            }
        }
    }
    .sub-page-sub-title{
        color: $backgroundColor;
    }
    .partial-border{
        font-size: 1.25rem;
        &:after{
            content: "";
            display: block;
            //margin: 0 auto;
            width: 50%;
            margin-top: 1rem;
            margin-left: -10%;
            border-top: 3px solid $primaryColor;
        }
    }
    .preparing{
        height: 110%;
        left: 15%;
        top: 25%;
        z-index: -1;
    }
    .solved{
        width: 60vw;
        height: 90%;
        left: 30%;
        top: 25%;
        z-index: 2;
    }
    .h-15rem{
        height: 15rem;
    }
    .divider{
        &:last-child{
            display: none;
        }
    }
}
@media (max-width : $lg){
    .main-title{
        font-size : 7.68rem !important;
    }
    .sub-title{
        font-size : 4.43rem !important;
        margin-top : -1.5rem !important;
    }
    .description{
        .title{
            font-size : 1.16rem !important;
        }
        font-size : 1rem !important;
    }
}
@media (max-width : $md){
    .background{
        height : 100% !important;
    }
    .subpage .solved{
        width: 70vw;
        left: 25%;
    }
    .main-title{
        line-height: 130% !important;
        font-size : 6.68rem !important;
    }
    .sub-title{
        font-size : 3.43rem !important;
        margin-top : -1.5rem !important;
    }
}
@media (max-width : $sm){
    .main-title{
        margin-top: 5rem;
        font-size : 4.68rem !important;
    }
    .sub-title{
        font-size : 2.73rem !important;
        margin-top : -0.6rem !important;
        margin-bottom: 4rem;
    }
    .description{
        .title{
            font-size : 1rem !important;
        }
        font-size : .9rem !important;
    }
}
@media (max-width : 375px){
    .main-title{
        margin-top: 5rem;
        font-size : 3.68rem !important;
    }
    .sub-title{
        font-size : 2.0rem !important;
        margin-top : 0 !important;
        margin-bottom: 4rem;
    }
}

.arrow{
    animation : scroll 0.5s alternate infinite;
}
