
// Colors

$backgroundColor: #fff;
$primaryColor : #D61920;
$secondaryColor : #191919;
$silver : #D3D2D2;

//Grid sizes
$sm : 576px;
$md : 768px;
$lg : 992px;
$xl : 1200px;


//General classes

h1,h3,h5 {
  font-family: SF-Bold, serif;
}
p{
  font-family: SF-Light, serif;
}

.text-uppercase{
  text-transform: uppercase;
}


.background-primary{
  background : $primaryColor;
}
.background-secondary{
  background : $secondaryColor;
}
