// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: NexaBold;
  src: url('../fonts/NexaBold.otf');
}

h1,h2,h3,h4,h5,h6{
  font-family: NexaBold, serif;
}
h3{
  font-size: 1.591em;
}

.row{
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.subpage{
  border: 1px red solid;
  h1, h3{
    border: 1px red solid;
  }
  .articles{
    border: 1px orange solid;
    .article{
      border: 3px orange solid;
    }
  }
}
.posts{
  border: 1px green solid;

}
nav{
  border: 1px blue solid;
  .nav_item{
    border: 3px blue solid;
  }
}
body{
  background : $colorOfPage;
}
nav{
  .nav_item{
    color : $secondaryColor;
    text-transform : uppercase;
    font-size : 1.450em;
    font-family: NexaBold, serif;
    hr{
      border-top : 1px solid $colorOfPage;
      width : 80%;
    }
    a {
      color: $secondaryColor !important;
      border-bottom: 1px solid $colorOfPage;
    }
    &:hover{
      hr{
        border-top : 1px solid $primaryColor;
        transition: 1s;
      }
      a{
        color: $primaryColor !important;
        text-decoration: none;
        border-bottom: 1px solid $primaryColor;
        transition: 1s;
      }
    }
    &:not(:hover){
      hr{
        border-top : 1px solid $colorOfPage;
        transition: 1s;
      }
      a {
        color: $secondaryColor !important;
        border-bottom: 1px solid $colorOfPage;
        transition: 1s;
      }
    }
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: red;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
.posts .post div:nth-child(2){
  border-top: 1px solid #707070;
}
hr{
  background: #707070;
}
