// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
  font-family: SF-Regular;
  color: $secondaryColor;
  background: #fff;
  overflow-x: hidden;

  .silver-color{
    color: $silver;
  }
  .primary-color{
    color: $primaryColor;
  }
  .white-color{
    color: #fff;
  }
  .background-secondary{
    background: $secondaryColor;
    color: #fff;
  }
  .background-primary{
    background: $primaryColor;
    color: #fff;
  }
  .background-white{
    background: #fff;
    color: #191919;
  }
  .space{
    width: 100%;
    height: 5rem;
  }
  .h-70{
    height: 70%;
  }
  .h-30{
    height: 30%;
  }
  div[role="group"]{
    width: 100%;
    height: 100%;
  }
  a{
    text-decoration: none;
    color: $secondaryColor;
    &:hover{
      text-decoration: none;
      color: $secondaryColor;
    }
  }


  footer{
    width: 100vw;
    text-transform: uppercase;
    font-size: 1em;
    a{
      color: $primaryColor;
      &:hover{
        color: $primaryColor;
        transition: 1s;
        cursor: pointer;
      }
    }
    p{
      letter-spacing: 2.5px;
      &:nth-child(2){
        color: #D3D2D2;
      }
    }
  }

}

@import 'fonts';
@import '_news';
@import 'home';
@import 'subpage';
@import '_navigation';
@import '_projects';
