.home{
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    .screen{
        min-height: 100vh;
    }
    .half-screen{
        min-height: 50vh;
    }

    .rotate{
        writing-mode: vertical-rl;
        font-size: 1rem;
    }
    .partial-border{
        &:after{
            content: "";
            display: block;
            //margin: 0 auto;
            height: 80%;
            padding-left: 2rem;
            margin-top: -25%;
            border-left: 3px solid $primaryColor;
        }
    }
    .absolute-img{
        position: absolute;
        height: 60vh;
        left: 12%;
        top: 35%;
    }
    .absolute-red{
        position: absolute;
        background: red;
        height: 75vh;
        width: 18vw;
        left: 40%;
        top: 20%;
    }
    .sponsors{
        img{
            width: 95%;
        }
    }

    #home-dots{
        transform: scale(.85);
    }
    @media (max-width : $lg){
        .partial-border{
            &:after{
                content: "";
                display: block;
                //margin: 0 auto;
                width: 90%;
                margin-top: 1rem;
                margin-left: -24%;
                border-top: 3px solid $primaryColor;
                border-left: 0;
                padding-left: 0;
                height: 0;
            }
        }
        .rotate{
            writing-mode: horizontal-tb;
        }
        #home-dots{
            transform: scale(1.3);
            transform: translateX(-50%);
        }
        .sponsors{
            img{
                width: auto;
                height: 75%;
            }
        }
    }
}
